[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
django = "*"
django-grappelli = "*"
django-admin-honeypot = "*"

[dev-packages]

[requires]
python_version = "3.7"
